<!DOCTYPE html>
<html lang="en" >

<head>
  <title>Цифра в дом</title>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
  
<link rel='stylesheet' href='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css'>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js'></script>
<script src='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.1.0/vue-i18n.min.js'></script>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src='https://unpkg.com/vue-router/dist/vue-router.js'></script>
<script src='https://cdn.jsdelivr.net/npm/gun@0.9.999998/gun.js'></script>
  

  
</head>

<body>

  <div id="vm"></div>

<script type="text/x-template" id="componentRoot">
<div style="padding-top: 56px;" class="container">

 <b-navbar toggleable="sm" type="dark" variant="dark" v-b-scrollspy="60" fixed="top" >
    <b-navbar-brand href="#">Цифра в Дом</b-navbar-brand>

    <b-navbar-toggle target="nav_collapse" />

    <b-collapse is-nav id="nav_collapse">

      <b-navbar-nav  class="ml-auto">
        <b-nav-item href="#Catalog" @click="scrollIntoView">Каталог</b-nav-item>
        <b-nav-item href="#Ceny" @click="scrollIntoView">Цены</b-nav-item>
        
        <b-nav-item href="#Portfolio" @click="scrollIntoView">Портфолио</b-nav-item>
<!--         <b-nav-item-dropdown :text="$t($i18n.locale)" right>
          <b-dd-item v-for="item in availableLanguages" :to="{ name: $route.name, params: { language: item }, query: $route.query}" :key="item" v-text="$t(item)"></b-dd-item>
  </b-nav-item-dropdown> -->
  </b-navbar-nav>
  </b-collapse>
  </b-navbar>
   <h4 id="Catalog">Каталог</h4>
    <b-card no-body>
      <b-tabs card pills vertical>
        <b-tab v-for="rows in gtob(GTable.one.Каталог.items)" :title="rows[0][0]">
          <div class="d-flex flex-wrap justify-content-around">
    <b-card v-for="row in rows" :header="row[1]" :img-src="row[3]" img-alt="Image" img-top style="max-width:9rem" class="m-1">
      <b-card-text v-text="row[2]"/>
    </b-card>

  </div>
        </b-tab>
      </b-tabs>
    </b-card>
    <div>
    <h4 id="Ceny">Цены</h4>
    <b-table selectable striped hover v-for="(value, key) in GTable.two" :id="key" :fields="value.fields" :items="value.items"><template slot="thead-top" slot-scope="data">
        <tr>
          <th colspan="2" v-text="key"></th>
        </tr>
      </template></b-table>
    </div>
  <keep-alive>
      <router-view ref="Catalog"></router-view>
  </keep-alive>
  </div>
</script>

<script type="text/x-template" id="componentX">
<div>
  
  asd
  </div>
</script>
  
    <script src="js/index.js"></script>




</body>

</html>
